.profile {
  max-width: 880px;
  margin: 0 auto 47.25px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 930px) {
  .profile {
    max-width: 760px;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .profile {
    max-width: 520px;
    margin: 0 auto 36px;
    flex-direction: column;
    padding: 0;
  }
}

@media screen and (max-width: 430px) {
  .profile {
    max-width: 425px;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: 282px;
  }
}
