.popup__submit-button {
  margin: 0;
  margin-top: 18px;
  padding: 0;
  border: none;
  background-color: black;
  color: white;
  max-width: 358px;
  min-height: 50px;
  border-radius: 2px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
}

.popup__submit-button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .popup__submit-button {
    max-width: 238px;
    min-height: 46px;
    font-size: 14px;
  }
}
